# [dbo].[Auth]

In [0]:
USE [Broadcast]
GO

In [0]:
/****** Object:  Table [dbo].[Auth]    Script Date: 12.08.2020 16:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auth](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[NameTR] [nvarchar](150) NULL,
	[NameEN] [nvarchar](150) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDateTime] [datetime] NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_Auth] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Broadcast]

In [0]:
/****** Object:  Table [dbo].[Broadcast]    Script Date: 12.08.2020 16:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Broadcast](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TitleTR] [nvarchar](500) NULL,
	[TitleEN] [nvarchar](500) NULL,
	[DescriptionTR] [nvarchar](max) NULL,
	[DescriptionEN] [nvarchar](max) NULL,
	[ImageFilePath] [nvarchar](500) NULL,
	[VideoFileUrl] [nvarchar](500) NULL,
	[ValidationEndDateTime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[BroadcastTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Broadcast] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[BroadcastType]

In [0]:
/****** Object:  Table [dbo].[BroadcastType]    Script Date: 12.08.2020 16:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BroadcastType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameTR] [nvarchar](50) NULL,
	[NameEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_BroadcastType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Employees]

In [0]:
/****** Object:  Table [dbo].[Employees]    Script Date: 12.08.2020 16:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRNationalId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MobilePhone] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[SexId] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Profile]

In [0]:
/****** Object:  Table [dbo].[Profile]    Script Date: 12.08.2020 16:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](150) NOT NULL,
	[NameTR] [nvarchar](150) NULL,
	[NameEN] [nvarchar](150) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDateTime] [datetime] NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[ProfileDetails]

In [0]:
/****** Object:  Table [dbo].[ProfileDetails]    Script Date: 12.08.2020 16:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [int] NOT NULL,
	[AuthId] [int] NOT NULL,
 CONSTRAINT [PK_ProfileDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[ProfileEmployees]

In [0]:
/****** Object:  Table [dbo].[ProfileEmployees]    Script Date: 12.08.2020 16:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileEmployees](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_ProfileEmployees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Sex]

In [0]:
/****** Object:  Table [dbo].[Sex]    Script Date: 12.08.2020 16:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameTR] [nvarchar](50) NOT NULL,
	[NameEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sex] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Auth]

In [0]:
SET IDENTITY_INSERT [dbo].[Auth] ON 
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1, N'talha', N'postmanNameTR', N'postmanNameEN', 1, CAST(N'2020-08-10T15:02:21.787' AS DateTime), 1)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (2, N'talha2', N'postmanNameTR2', N'postmanNameEN2', 1, CAST(N'2020-08-10T15:02:31.913' AS DateTime), 1)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (3, N'talha3', N'postmanNameTR3', N'postmanNameEN3', 1, CAST(N'2020-08-05T15:41:45.780' AS DateTime), 1)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1002, N'PAGE_AUTH_LIST', N'Yetki Listeleme', N'Auth List', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1003, N'PAGE_AUTH_ADD', N'Yetki Ekleme', N'Auth Add', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1004, N'PAGE_AUTH_EDIT', N'Yetki Düzenleme', N'Auth Edit', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1005, N'PAGE_AUTH_DISPLAY', N'Yetki Görüntüleme', N'Auth Display', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1006, N'PAGE_AUTH_DELETE', N'Yetki Silme', N'Auth Delete', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1007, N'PAGE_NEWS_LIST', N'Haber Listeleme', N'News List', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1008, N'PAGE_NEWS_ADD', N'Haber Ekleme', N'News Add', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1009, N'PAGE_NEWS_ADD', N'Haber Ekleme', N'News Add', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1010, N'PAGE_NEWS_EDIT', N'Haber Düzenleme', N'News Edit', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1011, N'PAGE_NEWS_DISPLAY', N'Haber Görüntüleme', N'News Display', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1012, N'PAGE_NEWS_ACTIVEPASSIVE', N'Haber Aktif/ Pasif Yetkisi', N'News Active/ Passive', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1013, N'PAGE_ANNOUNCEMENT_LIST', N'Duyuru Listeleme', N'Announcement List', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1014, N'PAGE_ANNOUNCEMENT_ADD', N'Duyuru Ekleme', N'Announcement Add', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1015, N'PAGE_ANNOUNCEMENT_EDIT', N'Duyuru Düzenleme', N'Announcement Edit', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1016, N'PAGE_ANNOUNCEMENT_DISPLAY', N'Duyuru Görüntüleme', N'Announcement Display', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1017, N'PAGE_ANNOUNCEMENT_ACTIVEPASSIVE', N'Duyuru Aktif/ Pasif Yetkisi', N'Announcement Active / Passive', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1018, N'PAGE_EMPLOYEE_LIST', N'Kullanıcı Listesi', N'Employee List', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1019, N'PAGE_EMPLOYEE_ADD', N'Kullanıcı Ekleme', N'Employee Add', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1020, N'PAGE_EMPLOYEE_EDIT', N'Kullanıcı Düzenleme', N'Employee Edit', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1021, N'PAGE_EMPLOYEE_DISPLAY', N'Kullanıcı Görüntüleme', N'Employee Display', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1022, N'PAGE_PROFILE_LIST', N'Profil Listeleme', N'Profile List', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1023, N'PAGE_PROFILE_ADD', N'Profil Ekleme', N'Profile Add', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1024, N'PAGE_PROFILE_EDIT', N'Profil Düzenleme', N'Profile Edit', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1025, N'PAGE_PROFILE_DISPLAY', N'Profil Görüntüleme', N'Profile Display', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1026, N'PAGE_PROFILE_DELETE', N'Profil Silme', N'Profile Delete', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1027, N'PAGE_PROFILEDETAIL_BATCHEDIT', N'Profil Detayları Toplu Güncelleme', N'Profile Detail Batch Edit', 0, NULL, 0)
INSERT [dbo].[Auth] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1028, N'PAGE_PROFILEEMPLOYEE_BATCHEDIT', N'Profil Kullanıcıları Toplu Güncelleme', N'Profile Employee Batch Edit', 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[Auth] OFF
GO

# [dbo].[Broadcast]

In [0]:
SET IDENTITY_INSERT [dbo].[Broadcast] ON 
INSERT [dbo].[Broadcast] ([Id], [TitleTR], [TitleEN], [DescriptionTR], [DescriptionEN], [ImageFilePath], [VideoFileUrl], [ValidationEndDateTime], [IsActive], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [BroadcastTypeId]) VALUES (1, N'tr', N'en', N'tr desc', N'en desc', NULL, N'https://www.youtube.com/?hl=tr&gl=TR', CAST(N'2020-09-19T00:00:00.000' AS DateTime), 1, CAST(N'2020-08-11T14:16:19.837' AS DateTime), 1, CAST(N'2020-08-11T15:16:22.520' AS DateTime), 1, 2)
INSERT [dbo].[Broadcast] ([Id], [TitleTR], [TitleEN], [DescriptionTR], [DescriptionEN], [ImageFilePath], [VideoFileUrl], [ValidationEndDateTime], [IsActive], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [BroadcastTypeId]) VALUES (2, N'FGHFG--', N'FGH---', N'FGH--', N'FGH---', NULL, N'www.yo----', CAST(N'2020-09-01T00:00:00.000' AS DateTime), 1, CAST(N'2020-08-11T14:20:52.810' AS DateTime), 1, CAST(N'2020-08-11T15:16:21.633' AS DateTime), 1, 2)
INSERT [dbo].[Broadcast] ([Id], [TitleTR], [TitleEN], [DescriptionTR], [DescriptionEN], [ImageFilePath], [VideoFileUrl], [ValidationEndDateTime], [IsActive], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [BroadcastTypeId]) VALUES (3, N'RESİMSİZ', N'RESİMSİZ EN', N'RESİMSİZ ACIKLAMA ', N'RESİMSİZ ACIKLAMA  EN', NULL, NULL, CAST(N'2020-09-11T15:15:23.000' AS DateTime), 1, CAST(N'2020-08-11T15:16:00.037' AS DateTime), 1, CAST(N'2020-08-11T15:16:21.197' AS DateTime), 1, 2)
INSERT [dbo].[Broadcast] ([Id], [TitleTR], [TitleEN], [DescriptionTR], [DescriptionEN], [ImageFilePath], [VideoFileUrl], [ValidationEndDateTime], [IsActive], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [BroadcastTypeId]) VALUES (4, N'Duyuru tr', N'Duyuru en', N'Duyuru tr desc', N'Duyuru en desc', NULL, N'https://www.youtube.com/?hl=tr&gl=TR', CAST(N'2020-09-19T00:00:00.000' AS DateTime), 0, CAST(N'2020-08-11T16:14:40.123' AS DateTime), 1, CAST(N'2020-08-11T16:25:10.033' AS DateTime), 1, 1)
INSERT [dbo].[Broadcast] ([Id], [TitleTR], [TitleEN], [DescriptionTR], [DescriptionEN], [ImageFilePath], [VideoFileUrl], [ValidationEndDateTime], [IsActive], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [BroadcastTypeId]) VALUES (5, N'baslık TR', N'baslık EN', N'ACIKLAMA', N'ACIKLAMA', NULL, N'https://www.youtube.com/?hl=tr&gl=TR', CAST(N'2020-09-12T00:00:00.000' AS DateTime), 1, CAST(N'2020-08-11T16:15:32.463' AS DateTime), 1, CAST(N'2020-08-11T16:25:01.047' AS DateTime), 1, 1)
INSERT [dbo].[Broadcast] ([Id], [TitleTR], [TitleEN], [DescriptionTR], [DescriptionEN], [ImageFilePath], [VideoFileUrl], [ValidationEndDateTime], [IsActive], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [BroadcastTypeId]) VALUES (6, N'Duyuru TR', N'Duyuru EN', N'Duyuru TR Açıklama', N'Duyuru EN Açıklama', N'BroadcastFiles/97ec3ba7-f501-4712-a5b6-783d4b0aa478IMG-20200725-WA0019.jpg', N'https://www.youtube.com/?hl=tr&gl=TR', CAST(N'2024-09-19T00:00:00.000' AS DateTime), 1, CAST(N'2020-08-12T16:36:33.963' AS DateTime), 3, CAST(N'2020-08-12T16:36:37.720' AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[Broadcast] OFF
GO

# [dbo].[BroadcastType]

In [0]:
SET IDENTITY_INSERT [dbo].[BroadcastType] ON 
INSERT [dbo].[BroadcastType] ([Id], [NameTR], [NameEN]) VALUES (1, N'Duyuru', N'Announcement')
INSERT [dbo].[BroadcastType] ([Id], [NameTR], [NameEN]) VALUES (2, N'Haber', N'News')
SET IDENTITY_INSERT [dbo].[BroadcastType] OFF
GO

# [dbo].[Employees]

In [0]:
SET IDENTITY_INSERT [dbo].[Employees] ON 
INSERT [dbo].[Employees] ([ID], [TRNationalId], [Name], [LastName], [MobilePhone], [Email], [SexId], [UserName], [Password]) VALUES (1, N'123456789', N'Talha', N'Erdoğan', N'5535556699', N'ttt@gmail.com', 2, N'admin', N'1')
INSERT [dbo].[Employees] ([ID], [TRNationalId], [Name], [LastName], [MobilePhone], [Email], [SexId], [UserName], [Password]) VALUES (2, N'789654123', N'Talha', N'Erdoğan', N'5551112233', N'ttt@gmail.com', 1, N'haber', N'1')
INSERT [dbo].[Employees] ([ID], [TRNationalId], [Name], [LastName], [MobilePhone], [Email], [SexId], [UserName], [Password]) VALUES (3, N'99988844456', N'Talha', N'Erdoğan', N'5559874465', N'aaa@gmail.com', 2, N'duyuru', N'1')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO

# [dbo].[Profile]

In [0]:
SET IDENTITY_INSERT [dbo].[Profile] ON 
INSERT [dbo].[Profile] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (1, N'SYSTEMADMIN', N'Sistem Admin Profili', N'System Admin Profile', 0, NULL, 0)
INSERT [dbo].[Profile] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (2, N'NEWSPROFILE', N'Haber Profili', N'News Profile', 0, NULL, 0)
INSERT [dbo].[Profile] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (3, N'ANNOUNCEMENTPROFILE', N'Duyuru Profili', N'Announcement Profile', 0, NULL, 0)
INSERT [dbo].[Profile] ([Id], [Code], [NameTR], [NameEN], [IsDeleted], [DeletedDateTime], [DeletedBy]) VALUES (4, N'DENEME', N'DENEME tr-', N'DENEME en-', 1, CAST(N'2020-08-10T14:38:41.357' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Profile] OFF
GO

# [dbo].[ProfileDetails]

In [0]:
SET IDENTITY_INSERT [dbo].[ProfileDetails] ON 
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (1, 1, 1017)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (2, 1, 1015)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (3, 1, 1014)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (4, 1, 1016)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (5, 1, 1013)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (6, 1, 1012)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (7, 1, 1010)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (8, 1, 1008)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (9, 1, 1009)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (10, 1, 1011)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (11, 1, 1007)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (12, 1, 1020)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (13, 1, 1019)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (14, 1, 1021)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (15, 1, 1018)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (16, 1, 1027)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (17, 1, 1024)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (18, 1, 1023)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (19, 1, 1025)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (20, 1, 1028)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (21, 1, 1022)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (22, 1, 1026)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (23, 1, 1004)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (24, 1, 1003)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (25, 1, 1005)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (26, 1, 1002)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (27, 1, 1006)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (28, 3, 1017)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (29, 3, 1015)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (30, 3, 1014)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (31, 3, 1016)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (32, 3, 1013)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (33, 2, 1007)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (39, 2, 1012)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (40, 2, 1010)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (41, 2, 1008)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (42, 2, 1009)
INSERT [dbo].[ProfileDetails] ([Id], [ProfileId], [AuthId]) VALUES (43, 2, 1011)
SET IDENTITY_INSERT [dbo].[ProfileDetails] OFF
GO

# [dbo].[ProfileEmployees]

In [0]:
SET IDENTITY_INSERT [dbo].[ProfileEmployees] ON 
INSERT [dbo].[ProfileEmployees] ([Id], [ProfileId], [EmployeeId]) VALUES (1, 1, 1)
INSERT [dbo].[ProfileEmployees] ([Id], [ProfileId], [EmployeeId]) VALUES (2, 2, 2)
INSERT [dbo].[ProfileEmployees] ([Id], [ProfileId], [EmployeeId]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[ProfileEmployees] OFF
GO

# [dbo].[Sex]

In [0]:
SET IDENTITY_INSERT [dbo].[Sex] ON 
INSERT [dbo].[Sex] ([Id], [NameTR], [NameEN]) VALUES (1, N'Kadın', N'Female')
INSERT [dbo].[Sex] ([Id], [NameTR], [NameEN]) VALUES (2, N'Erkek', N'Male')
SET IDENTITY_INSERT [dbo].[Sex] OFF
GO